<%- include('../partials/header'); %>

<h3>File Details</h3>

<p>Name: <%= fileInfo.originalName %></p>
<p>Size:  <%= fileInfo.size %> bytes </p>
<p>Created:  <%= fileInfo.createdAt %> </p>


<a href="/storage/file/delete?fileId=<%= fileInfo.id %>&folderId=<%= fileInfo.folderId %>">Delete</a>
<a href="/storage/file/edit?fileId=<%= fileInfo.id %>">Edit</a>
<a href="/storage/file/download?fileName=<%= fileInfo.fileName %>&originalName=<%= fileInfo.originalName %>">Download</a>