<%- include('../partials/header'); %>
  <main>
    <div>
      <a href="/storage/folder?folderId=<%= folderId %>"><button type="button">Add folder</button></a>
      <a href="/storage/file?folderId=<%= folderId %>"><button type="button">Upload file</button></a>
    </div>
    <div>
      <a href="/storage?folderId=<%= containingFolderId %>&folderName=<%= parentFolderName %>">Back</a>
      <% if (currentFolderName) {%>
      <p><%= currentFolderName %></p>
      <% } else { %>
        <p>Storage</p>
      <% }  %>
    </div>
    <div>

      <% items.forEach((item) => { %>
      <% if (item.type === "FOLDER")  {%>
      <%- include('../partials/folder-record', { item }); %>
      <% } else { %>
      <%- include('../partials/file-record', { item }); %>
      <% }  %>
      <% }); %>

    </div>
  </main>

</body>

</html>